<ion-content style="--background: #ccc url('../../../../assets/images/default/background.png') no-repeat center center / cover;">
  <div class="center">
    <img src="../../../../assets/images/home/zfix.png" alt="" style="margin-top: 20%;">
    <div class="middle">
      <div class="title">Your Trade In</div>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Merk</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ brand }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Jenis Storage</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ jenis_storage }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Storage</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ storages}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>RAM</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ memory }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Processor</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ processor }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Operating System</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ os }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Ukuran Laptop</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ ukuran_laptop }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Laptop</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ kondisi_laptop}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Jenis Layar Laptop</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ jenis_layar}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Layar Laptop</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ kondisi_layar}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Layar Dalam</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ inner_valueSelected}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Layar Luar</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ outer_valueSelected}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Fisik</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ condition_valueSelected}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Baterai</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ baterai}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Tombol Keyboard</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ keyboard}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Trackpad</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ trackpad}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ port}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Wifi/Bluetooth</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ wifi}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Front Camera</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ camera }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Speaker</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ speaker}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kelengkapan</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ addition_valueSelected}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kelengkapan Tambahan</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ more_addition}}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-textarea style="color: #3053A4; margin-top: 20px;" value="Estimated Price" readonly></ion-textarea>
      <button class="button round" style="background-color: #7f9ee5; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Rp.{{price | number}}</button>

      <div class="row" style="margin-top: 60px;">
        <div class="col">
          <button class="button oval" routerLink="/landing/type" style=" background-color: #7f9ee5; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Cancel
          </button>
        </div>
        <div class="col">
          <button class="button oval" (click)="submit()" style="background-color: white; color: #3053A4; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Agree
          </button>
        </div>
      </div>
    </div>
  </div>

</ion-content>