<ion-header [translucent]="true" mode="md">
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img class="bg-image" style="position: relative;"age" src="../../../../assets/images/home/bg_home.png" alt=""> -->
  <div class="center"><img class="logo-image" src="./assets/images/zfix_logo.png"></div>

  <ion-text >
    <p><b>
      1. Kebijakan Privasi Penggunaan Aplikasi dan Layanan ZFix.
      </b>
    </p>  
    <p>
      Kebijakan penggunaan di bawah merupakan ketentuan untuk aplikasi Zfix Trade-in dari PT. Zanna Infiniti Fixindo, termasuk penggunaan terhadap konten, layanan, dan fitur yang terdapat pada aplikasi
    </p>
    <br>
      <p>
        Dalam proses registrasi, Anda setuju untuk menyediakan semua informasi seperti nama, NIK, alamat, nomor telepon, email, dan informasi smartphone anda yang dibutuhkan oleh Zfix Trade-in melalui aplikasi Zfix Trade-in. Adapun informasi yang diberikan harus benar apa adanya, lengkap, dan akurat. Anda juga bersedia memberitahu kami jika terdapat perubahan pada informasi akun Anda.   
      </p>
    <br>
      <p>
        ZFix sangat memahami pentingnya data pribadi anda sehingga kami berkomitmen untuk menghormati, melindungi, dan tidak menyalahgunakan data pribadi anda. Namun, apabila diharuskan oleh hukum yang berlaku untuk membagikan informasi Anda kepada institusi pemerintahan atau pihak ketiga yang berhubungan, Anda setuju dan memberikan kami hak untuk membagikan informasi tersebut. 
      </p>
    <br>
      <p>
        Dengan melakukan proses registrasi dan terus mengakses atau menggunakan aplikasi kami, itu berarti Anda memahami dan menyetujui untuk terikat oleh kebijakan yang telah dijabarkan. Jika Anda tidak setuju dengan semua ketentuan yang terdapat pada aplikasi Zfix Trade-in, kami menghimbau untuk Anda tidak menggunakan aplikasi Zfix Trade-in. 
      </p>
    <br>
      <p><b>
        2. Bagaimana Kami Menggunakan Data Pribadi yang Anda Berikan Kepada Kami?
        </b>
      </p>
    <br>
      <p>
        Kami dapat mengumpulkan, menggunakan, mengungkapkan, dan/atau mengolah data pribadi
        Anda untuk satu atau lebih dari tujuan-tujuan seperti berikut:
      </p>
    
      <ol>
      <li>
        Kami mengumpulkan, menggunakan, mengungkapkan, dan/atau mengolah data pribadi Anda untuk proses registrasi yang anda lakukan guna menentukan status tukar tambah anda oleh Customer Care kami.
      </li>
      <li>
        Kami mengumpulkan, menggunakan, mengungkapkan, dan/atau mengolah data pribadi Anda ketika Anda melakukan proses tukar tambah. 
      </li>
      <li>
        Ketika kami menghubungi anda atau berkomunikasi dengan anda melalui panggilan telepon, pesan teks, dan/atau email guna untuk mengelola hubungan Anda dengan kami. 
      </li>
      <li>
        Ketika Anda menghubungi kami atau berkomunikasi dengan kami melalui panggilan telepon, pesan teks, dan/atau email guna untuk mengelola keluhan serta masukan Anda kepada kami. 
      </li>
      <li>
        Ketika kami melakukan penelitian, analisis, survei, dan/atau pengembangan perangkat guna meningkatkan layanan dan/atau produk kami. 
      </li>
      <li>
        Untuk melakukan pemasaran dan/atau periklanan melalalui berbagai alat komunikasi dan/informasi pemasaran yang berkaitan dengan layanan dan/atau produk kami 
      </li>
      <li>
        Untuk mencegah dan/atau menyelidiki pelanggaran nyata atau dugaan pelanggaran dari Syarat dan Ketentuan yang berlaku baik dalam bentuk penipuan, kesalahan, dan/atau kegiatan pelanggaran hukum lainnya. 
      </li>
    </ol>
    <br>
      <p>
        <b>3. Perubahan Kebijakan Penggunaan.</b>
      </p>
    <br>
      <p>
        ZFix dapat sewaktu-waktu merubah, menambahkan, dan mengganti Kebijakan Penggunaan yang telah ditetapkan saat Aplikasi mengalami pembaharuan. Ketika hal tersebut terjadi Anda setuju untuk melakukan penambahan informasi atau perubahan informasi sesuai kebijakan yang berlaku. Oleh karena itu, kami menghimbau Anda untuk secara rutin memeriksa informasi yang berkaitan dengan Kebijakan Penggunaan.
      </p>
    <br>
    <p>
    <b>4. Syarat dan Ketentuan Aplikasi ZFix.</b>
    </p>
    <br>
      <p>
        Ketika menekan tombol “SUBMIT” itu berarti anda menyetujui semua syarat dan ketentuan yang berlaku dan/atau yang ditetapkan oleh aplikasi dan/atau layanan tukar tambah Zfix. Anda juga setuju untuk mengakses dan/atau berlangganan layanan, produk, konten, dan/atau fitur lainnya di dalam Aplikasi. Anda juga menyetujui syarat dan ketentuan yang berlaku sesuai hukum di Indonesia. Jika Anda tidak menyetujui Syarat dan Ketentuan tersebut, Anda tidak diperkenankan untuk menggunakan layanan pada aplikasi Zfix Trade-in. 
      </p>
    <br>
      <p>
        Jika anda melakukan akses dan/atau menggunakan layanan pada aplikasi Zfix Trade-in, Anda telah membuat perjanjian dengan ZFix dan oleh karena itu, anda harus melihat, membaca, serta memahami seluruh Syarat dan Ketentuan Layanan dari aplikasi Zfix Trade-in. Setiap menggunakan layanan dari ZFix itu artinya anda menyetujui seluruh syarat dan ketentuan yang berlaku dari ZFix. 
      </p>
      <br>
  
      <p>
      <b>5. Syarat dan Ketentuan Layanan ZFix</b>
      </p>
    <br>
      <p>
        ZFix memiliki beberapa syarat dan ketentuan yang berlaku untuk anda para pengguna layanan Zfix Trade-in guna menentukan harga angkat dan proses tukar tambah yang telah anda lakukan. Adapun syarat dan ketentuan dari layanan Zfix Trade-in adalah sebagai berikut : 
      </p>
    <br>
      <ol>
        <li>
          Unit yang akan di tukar tambah dalam kondisi yang baik agar harga unit tersebut lebih tinggi dibanding unit yang kondisi nya kurang baik.
        </li>
        <li>
          <b>Pengisian pertanyaan pada aplikasi sesuai dengan kondisi yang sebenarnya,</b> 2. Apabila berbeda maka pada saat tim Zfix Trade-in melakukan inspeksi ke tempat customer akan ada perbedaan harga estimasi yang muncul pada aplikasi.
        </li>
        <li>
          ZFix <b> tidak akan memberikan uang tunai,</b> 3. melainkan E-Voucher yang mana E-Voucher tersebut yang akan digunakan untuk potongan pembelian unit baru di toko yang dipilih oleh customer.
        </li>
        <li>
          ZFix memberikan harga sesuai dengan kondisi unit tersebut        
        </li>
        <li>
          ZFix <b>berhak membatalkan proses Trade-in</b> 5.apabila customer tidak dapat dihubungi atau data yang diberikan tidak jelas.
        </li>
        <li>
          ZFix <b>berhak menolak proses Trade-in</b>jika customer tidak mengikuti syarat dan ketentuan yang berlaku. 
        </li>
      </ol>
    
      <p><b>6. Disclaimer</b></p><br>
      <p>
        Aplikasi ini mungkin mengandung kesalahan pengetikan, ketidakakuratan, atau kendala teknis ketika digunakan. Oleh karena itu, kami akan terus melakukan pengembangan, perubahan, dan/atau perbaikan informasi atau aplikasi secara berkala guna meningkatkan kenyamanan dan keamanan bagi pengguna kami. Kami tidak menjamin atau menanggung segala tanggung jawab atau kewajiban kelengkapan atau kegunaan segala informasi.   
      </p>
    <br>
      <p>
        Dengan mengakses dan/atau menggunakan pelayanan dari ZFix, Anda juga setuju untuk melindungi ZFix dan setiap pegawai, direktur, serta petugas di ZFix dari segala macam klaim, tuntutan, kewajiban, keputusan, tindakan, dan penyelesaian.
      </p>
    <br>
      <p><b>7. Kontak Kami</b></p><br>
      
      <p>
        Kami menerima setiap pertanyaan, masukan, masalah, serta keluhan yang ingin anda sampaikan kepada kami. Anda bisa menghubungi kami untuk melakukan pertanyaan, masukan, masalah, serta keluhan ke nomor customer care kami di 0822-2999-1919 atau email kami di <a href="mailto:cs@zfix.id">cs@zfix.id.</a>
      </p>
  
  <br>
  <br>
  </ion-text>

</ion-content>
