<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Setting </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" mode="md">

  <ion-item  lines="none" routerLink="../../edit-profile" class="current-user">
    <ion-avatar>
      <img src="./assets/images/contact_mascot.png">
    </ion-avatar>
    <ion-label class="ion-text-nowrap">
      <p *ngIf="user != {}">Halo, {{ user.data?.user.name }}</p>
    </ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon> 
  </ion-item>

  <ion-card class="welcome-card">
    <ion-item routerLink="../../my-card">
      <ion-img src="./assets/images/setting_menu_cards.png" class="img-btn"></ion-img>
      <ion-label class="ion-text-nowrap">
        <p>Kartu Saya</p>
      </ion-label>
    </ion-item>

    <!-- <ion-item routerLink="../../faq">
      <ion-img src="./assets/images/setting_menu_faq.png"></ion-img>
      <ion-label class="ion-text-nowrap">
        <p>FAQ</p>
      </ion-label>
    </ion-item> -->

    <ion-item routerLink="../../outlet">
      <ion-img src="./assets/images/setting_menu_outlets.png" class="img-btn"></ion-img>
      <ion-label class="ion-text-nowrap">
        <p>Service Center ZFix</p>
      </ion-label>
    </ion-item> 
    
    <ion-item routerLink="../../call-us">
      <ion-img src="./assets/images/setting_menu_contact.png" class="img-btn"></ion-img>
      <ion-label class="ion-text-nowrap">
        <p>Hubungi Kami</p>
      </ion-label>
    </ion-item>
  </ion-card>

<ion-card>
    <ion-item routerLink="../../privacy-policy">
      <ion-img src="./assets/images/setting_menu_privacy.png" class="img-btn"></ion-img>
      <ion-label class="ion-text-nowrap">
        <p>Kebijakan Privasi</p>
      </ion-label>
    </ion-item>

    <ion-item routerLink="../../terms">
      <ion-img src="./assets/images/setting_menu_terms.png" class="img-btn"></ion-img> 
      <ion-label class="ion-text-nowrap">
        <p>Syarat & Ketentuan</p>
      </ion-label>
    </ion-item>
</ion-card>

<ion-card>
  <ion-item (click)="logout()">
    <ion-img src="./assets/images/setting_menu_logout.png" class="img-btn"></ion-img>
    <ion-label class="ion-text-nowrap">
      <p>Logout</p>
    </ion-label>
  </ion-item>
</ion-card>
</ion-content>
