<!-- <img src="./assets/images/2.0x/login_header.png"> -->

<ion-content>

    <ion-card>
      <ion-card-content>
        <form>
          <ion-list lines="full" >
  
            <div class="ion-text-center ion-text-uppercase ion-margin">
              <h1>Forgot Password</h1>
            </div>
            
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input name="email" type="email" [(ngModel)]="credential.email" pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" (keyup.enter)="hideKeyboard()" required></ion-input>
            </ion-item>
  
          </ion-list>
  
          <div class="ion-padding">
            <ion-button expand="block" (click)="submit()" class="ion-margin">Send Link</ion-button>
          </div>
        </form>

        <div class="ion-text-center ion-margin">
          <p>Remember your password? <a routerLink="/login">Click here</a></p>
        </div>
      </ion-card-content>
    </ion-card>

</ion-content>
