<ion-content style="--background: #ccc url('../../../../assets/images/default/background.png') no-repeat center center / cover;">
  <div class="center">
    <img src="../../../../assets/images/home/zfix.png" alt="" style="margin-top: 20%;">
    <div class="middle">
      <div class="title">Your Trade In</div>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Jenis Playstation</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ jenis_ps }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Model Playstation</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ type }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Storage</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ storages }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Playstation</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ kondisi_ps }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kondisi Fisik Playstation</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ condition_valueSelected }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Fungsi Console Playstation</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ console }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Fungsi Port USB</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ port }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Add On Games</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ add_games }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-item text-wrap style="--background: transparant; color: #3053A4;">
        <div class="row">
          <div class="col" style="text-align: left;">
            <p>Kelengkapan</p>
          </div>
          <div class="col" style="text-align: right;">
            <ion-textarea value="{{ addition_valueSelected }}" readonly></ion-textarea>
          </div>
        </div>
      </ion-item>

      <ion-textarea style="color: #3053A4; margin-top: 20px;" value="Estimated Price" readonly></ion-textarea>
      <button class="button round" style="background-color: #7f9ee5; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Rp.{{price | number}}</button>

      <div class="row" style="margin-top: 60px;">
        <div class="col">
          <button class="button oval" routerLink="/landing/type" style=" background-color: #7f9ee5; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Cancel
          </button>
        </div>
        <div class="col">
          <button class="button oval" (click)="submit()" style="background-color: white; color: #3053A4; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Agree
          </button>
        </div>
      </div>
    </div>
  </div>

</ion-content>