<ion-content fullscreen class="ion-padding">
  
  <ion-slides pager="true">
    <ion-slide class="slide-one">
      <div class="slide">
        <!-- <img src="/assets/images/on_board_outlet.png"/> -->
        <h2>Layanan perlindungan Layar Gadget anda</h2>
        <p>Gunakan layanan perlindungan layar lcd dari ZFix dan dapatkan berbagai keuntungan menarik lainnya</p>
      </div>
    </ion-slide>

    <ion-slide class="slide-two">
      <!-- <img src="/assets/images/on_board_repair.png"/> -->
      <h2>ZFix Menawarkan Berbagai Variasi Cara Perbaikan Yang Memudahkan Anda</h2>
      <p>Pengajuan perbaikan yang mudah tanpa harus ribet. Layanan antar jemput kami siap melayani Anda.</p>
    </ion-slide>

    <ion-slide class="slide-three">
      <!-- <img src="/assets/images/on_board_counter.png"/> -->
      <h2>ZFix Dapat Anda Temukan Di Berbagai Partner Merchant Sekitar Anda</h2>
      <p>Beli membership ZFix secara langsung di berbagai partner menchant kami yang berada di sekitar Anda.</p>
      <ion-button expand="block" routerLink="/login">LOGIN <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>