ion-content{
    justify-content: center;
    --padding-top: 20px;
}

.logo-image{
    height: 40px;
    position: relative;
}

h1{
    padding-top: 20px;
    margin-left: 10px;
    font-weight: bold;
}

h2{
    padding-top: 10px;
    font-weight: bold;
    margin-left: 10px;
}

p{
    margin-left: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.bg-image {
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
    &.top {
    top:  0px;
    transform: translateY(-30px);
  
    }
  
    &.bottom {
    bottom: 0px;
  
    }
}