<ion-header [translucent]="true" mode="md">
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="bg-image" src="../../../../assets/images/home/bg_home.png" alt="">
  <div class="center"><img class="logo-image" src="./assets/images/zfix_logo.png"></div>

  <ion-text style="position: relative;">
  <h1>Syarat & Ketentuan</h1>
  <p>
    Syarat dan Ketentuan ini akan menjelaskan mengenai peraturan dan regulasi untuk situs web dan aplikasi kepemilikan PT Zanna Infiniti Fixindo, ZFix.id yang dapat diakses di <a href="https://zfix.id">https://zfix.id.</a>
  </p>

  <p>
    Dengan menggunakan atau mengakses situs web serta aplikasi ini maka kami mengasumsikan bahwa anda telah mengerti dan menerima semua syarat dan ketentuan yang tertera di sini. Jangan menggunakan atau mengakses situs web serta aplikasi ini apabila anda tidak menerima dan tidak menyetujui semua syarat ketentuan yang tertera di sini. 
  </p>

  <p>Istilah berikut berlaku untuk syarat dan ketentuan, kebijakan privasi dan semua kesepakatan lainnya: Klien, Customer, Kamu dan Anda, merujuk ke anda, orang-orang yang mengakses situs web ini dan menyetujui syarat dan ketentuan perusahaan. Perusahaan dan Kami merujuk ke PT Zanna Infiniti Fixindo. Pihak, Pihak-Pihak, Semua Pihak, Para Pihak dam kita merujuk ke anda dan perusahaan. Aplikasi dan situs web merujuk ke situs web dan aplikasi ZFix.id. Pihak ketiga adalah para pihak di luar anda dan perusahaan. Semua istilah yang merujuk ke persetujuan, pemakaian, dan pembelian produk kami harus sesuai dengan ketentuan yang telah ditentukan oleh pihak perusahaan, dan sesuai dengan hukum yang berlaku di Indonesia. Setiap penggunaan atas istilah di atas baik dalam bentuk perorangan, jamak, kapitalisasi, dan/atau, dapat berlaku satu sama lainnya dan karena itu adalah merujuk ke hal yang sama.</p>

  <h2>Materi dan Data Anda</h2>
  <p>
    Dalam syarat dan ketentuan serta kesepakatan kami lainnya, Data, Materi, Isi, dan Konten anda adalah semua audio, vidio, gambar tulisan, atau bentuk informasi lainnya yang wewenang anda diperbolehkan untuk muncul di situs web dan aplikasi ini. Anda memberikan hak penuh yang tidak eksklusif kepada PT Zanna Infiniti Fixindo untuk digunakan, direproduksi kembali, diadaptasi, dipublikasi, ditranslasikan, dan didistribusikan dalam bentuk media apapun, kapanpun.
  </p>

  <p>
    Materi dan data anda harus merupakan milik anda sendiri dan tidak boleh melanggar hak pihak ketiga. PT Zanna Infiniti Fixindo memiliki hak penuh untuk menghapus materi dan data anda dari situs web ini kapanpun tanpa perlu adanya pemberitahuan resmi kepada anda.
  </p>

  <h2>Hak Intelektual</h2>
  <p>
    Selain dari materi dan data yang anda miliki, melalui ketentuan ini, PT Zanna Infiniti Fixindo dan/atau pemberi lisensinya memiliki semua hak properti dan materi intelektual pada situs web ini.
  </p>

  <p>
    Anda diberikan lisensi terbatas hanya dengan tujuan untuk melihat atau membaca materi yang ada di situs web ini.
  </p>

  <h2>Batasan</h2>
  <p>
    Anda tidak boleh melakukan hal-hal berikut : 
  </p>

  <ul>
    <li>Mempublikasikan materi situs web dan aplikasi ini dimanapun dan dalam media apapun</li>
    <li>Menjual, melisensikan dan/atau mengkomersialkan materi situs web dan aplikasi</li>
    <li>Menggunakan situs web dan aplikasi ini dalam cara apapun yang dapat merusak berbagai elemen di dalamnya.</li>
    <li>Menggunakan situs web dan aplikasi ini dalam cara yang dapat memberikan dampak negatif terhadap akses customernya</li>
    <li>Menggunakan situs web dan aplikasi ini dalam cara yang berlawanan dengan hukum yang ada, atau dalam cara yang dapat memberikan dampak negatif terhadap situs web dan aplikasi, atau kepada customer atau entitas bisnis lainnya</li>
  </ul>

  <p>
    Beberapa halaman dalam situs web ini memiliki akses yang terbatas dan tidak boleh diakses oleh anda, PT Zanna Infiniti Fixindo boleh membatasi lebih lanjut halaman-halaman atau area mana saja di situs web dan aplikasinya yang dapat diakses oleh anda, kapanpun, tanpa perlu pemberitahuan resmi ke anda. Email atau password apapun yang digunakan dalam situs web ini sifatnya adalah rahasia dan anda harus menjaga kerahasiannya.
  </p>

  <h2>Cookies</h2>
  <p>
    Kami menggunakan cookies. Dengan mengakses dan menggunakan situs web ini maka anda menerima dan menyetujui penggunaan cookies sesuai dengan kebijakan privasi PT Zanna Infiniti Fixindo.
  </p>

  <p>
    Kebanyakan situs web modern yang interaktif menggunakan cookies untuk memperbolehkan kami mendapatkan detail informasi detail setiap pengunjung/customer yang mengunjung situs web dan aplikasi kami. Cookies juga digunakan untuk fungsionalitas beberapa halaman dalam membantu kemudahan akses pengunjung kami. Beberapa partner iklan resmi kami juga menggunakan cookies.
  </p>

  <h2>Kebijakan Privasi</h2>
  <p>
    Mohon baca halaman kebijakan privasi
  </p>

  <h2>Keterbatasan Kewajiban</h2>
  <p>
    Tidak dalam kejadian apapun, PT Zanna Infiniti Fixindo ataupun petugasnya, direkturnya, dan karyawannya, bertanggung jawab atas segala permasalahan yang muncul dikarenakan penggunaan anda dalam situs web aplikasi ini. Baik karena penggunaan langsung, maupun tidak langsung.
  </p>

  <h2>Hyperlink Pihak Ketiga</h2>
  <p>
    Organisasi-organisasi berikut ini boleh meletakkan link ke situs web kami tanpa perlu adanya pemberitahuan tertulis :
  </p>

  <ul>
    <li>Agensi pemerintah.</li>
    <li>Mesin pencarian(search engines)</li>
    <li>Organisasi pemberitaan</li>
    <li>Distributor direktori online pada saat mereka mendaftarkan kami dalam direktori yang menghubungkan situs web kami dengan bisnis-bisnis lainnya.</li>
    <li>Akreditasi bisnis nasional dan internasional.</li>
  </ul>

  <p>
    Organisasi-organisasi di atas boleh meletakkan link ke halaman utama situs web, halaman download aplikasi, atau berbagai informasi web di situs web kami selama: (a) tidak dalam cara yang menyesatkan; (b) tidak memalsukan sponsor, dukungan, atau persetujuan pihak ketiga; (c) sesuai dengan konteks informasi serta link tersebut disertakan.
  </p>

  <p>Melalui ketentuan kami, kami boleh mempertimbangkan dan menyetujui permintaan link dari Organisasi-organisasi berikut ini : </p>
  
  <ul>
    <li>Situs komunitas dot.com.</li>
    <li>Asosiasi atau group lainnya yang mewakili donasi, dan situs donasi online.</li>
    <li>Distributor direktori online.</li>
    <li>Portal Internet.</li>
    <li>Perusahaan akunting, hukum dan konsultasi yang klien utamanya adalah bisnis lain.</li>
    <li>Institusi edukasi dan asosiasi dagang</li>
  </ul>

  <p>
    Kami akan menyetujui permintaan Hyperlink organisasi ini apabila: (a) link tersebut tidak menempatkan kami dalam sisi yang tidak menguntungkan terkait Akreditasi bisnis kami (sebagai contoh asosiasi bisnis atau organisasi lain yang menggambarkan bisnis kami sebagai kesempatan kerja dari rumah, tidak diperbolehkan meletakkan link ke situs atau aplikasi kami); (b) organisasi tersebut tidak memiliki riwayat bisnis yang negatif; (c) keberadaan link tersebut tidak menggambarkan keberadaan PT Zanna Infiniti Fixindo; dan (d) link tersebut berada dalam informasi publik yang konsisten dengan konten situs web ini dan juga sesuai dengan misi organisasi.
  </p>

  <p>
    Organisasi-organisasi di atas boleh meletakkan link ke halaman utama situs web, halaman download aplikasi, atau berbagai informasi web di situs web kami selama: (a) tidak dalam cara yang menyesatkan; (b) tidak memalsukan sponsor, dukungan, atau persetujuan pihak ketiga; (c) sesuai dengan konteks informasi serta link tersebut disertakan.
  </p>

  <p>
    Apabila anda merupakan organisasi yang disebutkan dalam paragraf kedua di atas dan tertarik untuk menghubungi kami terkait hyperlink ke situs dan aplikasi kami, maka anda dapat memberitahukan kami melalui email yang tertera di halaman kontak kami. Mohon cantumkan nama, organisasi, dan informasi kontak anda (seperti nomor telepon dan/atau alamat email) beserta juga semua url situs web yang ingin anda letakkan hyperlink.
  </p>

  <p>
    Organisasi yang sudah disetujui, boleh meletekkan hyperlink ke situs web dan aplikasi kami dalam bentuk :
  </p>

  <ul>
    <li>Nama perusahaan</li>
    <li>Uniform Resource Locator (URL) atau alamat web</li>
    <li>Deskripsi situs web dan materi yang sesuai dengan konteks dan isi dari situs web organisasi tersebut</li>
  </ul>

  <p>
    Logo PT Zanna Infiniti Fixindo atau bentuk karya lainnya tidak boleh diikutsertakan dalam sebuah perjanjian lisensi merek dagang
  </p>

  <h2>Reservasi Hak</h2>
  <p>
    Melalui ketentuan kami, kami memiliki hak untuk meminta anda menghapus semua link atau beberapa link yang terhubung ke situs web dan aplikasi kami. Anda setuju untuk secara segera menghapus semua link ke situs kami pada saat permintaan tersebut terjadi. Kami juga memiliki hak untuk merevisi syarat dan ketentuan, kebijakan privasi, serta kesepakatan lainnya kapanpun. Dengan tetap meletakan link tersebut maka anda setuju terhadap perubahan apapun yang terjadi pada semua kesepakatan kami.
  </p>

  <h2>Serah Terima Hak</h2>
  <p>
    PT Zanna Infiniti Fixindo diperbolehkan untuk menugaskan, memindahkan, dan mengontrakkan hak dan/atau kewajibannya dalam syarat dan ketentuan ini tanpa perlu pemberitahuan kepada anda. Akan tetapi, Anda tidak diperbolehkan untuk menugaskan, memindahkan, dan mengontrakkan hak-hak dan kewajiban-kewajiban anda dalam syarat dan ketentuan ini.
  </p>

  <h2>Permintaan Penghapusan Link</h2>
  <p>
    Apabila anda menemukan link pada situs web kami atau situs web kami lainnya yang sifatnya dapat dipertanyakan untuk berbagai alasan, anda dapat menghubungi kami mengenai hal tersebut tapi tidak memiliki kewajiban untuk melakukan hal tersebut atau merespon secara langsung kepada anda
  </p>

  <p>
    Walaupun kami berusaha untuk memastikan informasi yang ada di situs web ini benar adanya, kami tidak menjanjikan bahwa keakuratan dan kelengkapan informasi tersebut ataupun kami tidak menjanjikan bahwa informasi tersebut selalu mengikuti informasi tersebut ataupun kami tidak menjanjikan bahwa situs web ini akan selalu dapat diakses.
  </p>

  <h2>Tanggung Jawab Materi</h2>
  <p>
    Kami tidak akan bertanggung jawab atau berkewajiban untuk segala isi atau materi yang anda gunakan baik dalam situs website kami atau situs website anda. Anda setuju untuk mengganti rugi dan melindungi kami dari segala kalim yang muncul karena materi tersebut. Tidak ada isi, materi, dan link situs web dan aplikasi kami yang diperbolehkan muncul di materi dan situs web anda apabila berkaitan dengan fitnah, kriminalitas, pemalsuan atau segala hal yang berlawanan dengan hukum Indonesia
  </p>

  <h2>Iframes</h2>
  <p>
    Tanpa adanya persetujuan awal dan izin tertulis, anda tidak boleh meletakkan halaman apapun di situs web kami dalam bentuk iframe atau teknologi serupanya. Hal ini juga mencakup atas berbagai teknik lain yang dapat memalsukan atau mengubah tampilan visual situs kami.
  </p>

  <h2>Pemisahan</h2>
  <p>
    Apabila berbagai ketentuan dalam syarat dan ketentuan ini dibatalkan dalam hukum yang berlaku, maka ketentuan tersebutlah yang tidak lagi berlaku dan akan dihapus tanpa mempengaruhi ketentuan lainnya.
  </p>
</ion-text>

</ion-content>
