.bg-image {
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
    &.top {
    top:  0px;
    transform: translateY(-30px);
  
    }
  
    &.bottom {
    bottom: 0px;
  
    }
}

ion-toolbar {
    --background-color: transparent;
    --ion-color-base: transparent !important;
  }

  ion-content{
    justify-content: center;
    --padding-top: 40px;
}

img{
    height: auto;
    width: auto;
}

ion-avatar{
    margin: auto;
}

ion-item{
    margin-bottom: 15px;
}

ion-card{
    border-radius: 15px !important;
    flex-direction: column;
    // padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    // padding-right: 20px;
    display: flex;
    width: 90% !important;
    margin: 5% !important;
}

ion-item {
    padding-right: 20px !important;
}



